@charset 'utf-8';

@import '../../../variables';

.expense-item {
  border-bottom: 1px solid $light-gray;
  font-weight: 300;
  overflow: auto;
  padding: 20px 10px;
  transition: background-color .15s ease-in;
  user-select: none;

  &:hover {
    background-color: $transparent4-gray;
    cursor: pointer;
  }
}

.expense-description {
  float: left;
  width: 50%;
  word-break: break-word;
}

.expense-date {
  float: left;
  width: 30%;
}

.expense-amount {
  float: left;
  width: 20%;
  text-align: right;
}
