@charset 'utf-8';

@import '../variables';

header {
  background-color: white;
  border-bottom: 1px solid $light-gray;
  box-shadow: 0 7px 20px 0 $transparent-gray;
  margin-bottom: 40px;
  width: 100%;

  .header-wrapper {
    margin: 0 auto;
    overflow: auto;
    width: $container;

    .title{
      float: left;
      font-weight: normal;
      width: 50%;
    }

    a {
      float: right;
      padding: 24px 12px;

      &:hover {
        background-color: $transparent-gray;
        cursor: pointer;
      }
    }
  }

}
