@charset 'utf-8';

$container: 800px;

$backgroud: #fafafa;

$light-gray: rgb(230, 230, 230);
$transparent-gray: rgba(230, 230, 230, .5);
$transparent4-gray: rgba(230, 230, 230, .4);

$transparent-black: rgba(0, 0, 0, .5),
